<!DOCTYPE html>
<html>

<head>

    <title>AI Rehab Game</title>

    <style>

        body{
            margin:0;
            background:black;
            display:flex;
            justify-content:center;
            align-items:center;
            height:100vh;
            overflow:hidden;
        }

        img{
            width:1000px;
            border-radius:20px;
            border:4px solid cyan;
        }

    </style>

</head>

<body>

    <img src="/video">

</body>

</html>